<% if @human %>
  <h1><%= @human.fname %>'s Cats</h1>
<% else %>
  <h1>ALL THE CATS</h1>
<% end %>
<% @cats.each do |cat| %>
  <div><a href="<%= cats_url(cat.id) %>"><%= cat.name  %></a></div>
<% end %>
<br><br>
<a href="<%= new_cats_url %>">New cat!</a>
<a href="<%= new_humans_url %>">New human!</a>
