<h2>Name</h2>
<%= @cat.name %>

<h2>Owner</h2>
<% if @cat.human %>
  <a href="<%= humans_url(@cat.human.id) %>">
      <%= @cat.human.fname %> <%= @cat.human.lname %>
  </a>
<% end %>

<br><br>
<form action="<%= cats_url(@cat.id) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token  %>">

  <input type="submit" value="Delete this cat">


<br><br>
<a href="<%= edit_cats_url(@cat.id) %>">Edit this cat</a>

<br><br>
<a href="<%= cats_url %>">Back to the Cats</a>
